<form (ngSubmit)="onSubmit()" class="form-container">
    <div class="fields-container">
      <!-- Flujo -->
      <mat-form-field class="field">
        <mat-label>Flujo</mat-label>
        <mat-select [formControl]="sectionControl" [disabled]="!surveyControl" name="question_section">
          <mat-option *ngFor="let i of flujos" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button type="submit" mat-flat-button color="primary">Asignar</button>
    </div>
  </form>
  