<form (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <!--ENCUESTA-->
        <td><mat-form-field class="example-full-width">  
          <mat-label>Id de la encuesta</mat-label>
          <mat-select [formControl]="surveyControl" (selectionChange)="onFirstSelectChange()">
            <mat-option *ngFor="let i of idSurvey" [value]="i">{{i}}</mat-option>
          </mat-select> 
        </mat-form-field></td>

        <!--SECCION-->
        <td><mat-form-field class="example-full-width">  
          <mat-label>Id de la seccion</mat-label>
          <mat-select [formControl]="sectionControl" [disabled]="!surveyControl">
            <mat-option *ngFor="let i of idSection" [value]="i">{{i}}</mat-option>
          </mat-select>
        </mat-form-field></td>

        <!--Titulo de la pregunta-->
        <td><mat-form-field class="example-full-width">
          <mat-label>Titulo de la pregunta</mat-label>
          <input matInput type="text" id="question_title" [(ngModel)]="data.question_title" name="question_title" required>
        </mat-form-field></td>

        <!--Tipo de pregunta-->
        <td><mat-form-field class="example-full-width">
          <mat-label>Tipo de pregunta</mat-label>
          <mat-select [(value)]="tipo" (selectionChange)="checkVisibility()">
            <mat-option *ngFor="let option of tipos" [value]="option.value">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field></td>


        <!--Body pregunta text-->
        <td><mat-form-field class="example-full-width">
          <mat-label>Cuerpo</mat-label>
          <input matInput [(ngModel)]="cuerpo" placeholder="Escribe el cuerpo de la pregunta">
        </mat-form-field></td>

        <!--Respuestas-->
        <div *ngIf="showElementsM">
          <div *ngFor="let input of respuestas; let i = index">
            <mat-form-field appearance="fill">
              <mat-label>Respuesta {{i + 1}}</mat-label>
              <input matInput [(ngModel)]="respuestas[i]" placeholder="Escribe la respuesta">
            </mat-form-field>
          </div>
          
          <button mat-raised-button color="primary" (click)="addInput()">Agregar entrada</button>
        </div>
        
      </tr>
    </table>
    <button type="submit" mat-flat-button>Crear</button>
  </form>
  
    
  <div *ngIf="modifiedData">
    <p><strong>Modified Data:</strong></p>
    <p>Id de la encuesta: {{ modifiedData.survey_id }}</p>
    <p>Id de la seccion: {{ modifiedData.section_id }}</p>
    <p>Confirmacion de creacion de la pregunta: {{ modifiedData.question_confirm }}</p>
  </div>

   