<div>
    <form (ngSubmit)="onSubmit()">
      <label for="section_name">Nombre de la seccion:</label>
      <input mat-input type="text" id="section_name" [(ngModel)]="data.section_name" name="section_name" required>
      
      <label for="survey_id">Id de la encuesta a la cual pertenece la seccion:</label>
      <input mat-input type="text" id="survey_id" [(ngModel)]="data.survey_id" name="survey_id">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <button type="submit">Crear</button>
    </form>
  </div>
  {{variable}}
  <div *ngIf="modifiedData">
    <p><strong>Modified Data:</strong></p>
    <p>Id de la encuesta: {{ modifiedData.survey_id }}</p>
    <p>Nombre de la seccion: {{ modifiedData.section_name }}</p>
    <p>Confirmacion de creacion de la seccion: {{ modifiedData.section_confirm }}</p>
  </div>
  
