
<form (ngSubmit)="onSubmit()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nombre de la seccion</mat-label>
        <input matInput type="text" id="nombre_seccion" [(ngModel)]="data.nombre_seccion" name="nombre_seccion" required>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">  
        <mat-label>Id de la encuesta</mat-label>
        <mat-select [formControl]="myControl">
          <mat-option *ngFor="let i of idSurvey" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr>
  </table>
  <button type="submit" mat-flat-button>Crear</button>
</form>


<!-- <div *ngIf="modifiedData">
  <p><strong>Modified Data:</strong></p>
  <p>Id de la encuesta: {{ modifiedData.survey_id }}</p>
  <p>Nombre de la seccion: {{ modifiedData.nombre_seccion }}</p>
  <p>Confirmacion de creacion de la seccion: {{ modifiedData.section_confirm }}</p>
</div>  -->
  
