<mat-toolbar color="primary">
    <span>
        <img src="../../assets/Logo.png" class="angular-logo">
        INTEGRA
    </span>
    <span class="fill-remaining-space"></span>
    <!-- <button mat-button [matMenuTriggerFor]="encuestas">Ecuestas</button>
    <button mat-button [matMenuTriggerFor]="usuarios">Usuarios</button>
    <button mat-button [matMenuTriggerFor]="flujo">Flujo</button> -->
    <button mat-button (click)="logout()">Cerrar sesión</button>
</mat-toolbar>

<mat-menu #encuestas="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Crear">Crear</button>
</mat-menu>  

<mat-menu #Crear="matMenu">
    <button mat-menu-item routerLink="/create_survey">Encuesta</button>
    <button mat-menu-item routerLink="/create_section">Seccion</button>
    <button mat-menu-item routerLink="/create_question">Pregunta</button>
</mat-menu> 

<mat-menu #usuarios="matMenu">
    <button mat-menu-item routerLink="/create_user">Crear usuario</button>
    <button mat-menu-item routerLink="/modify_user">Modificar usuario</button>
    <button mat-menu-item routerLink="/user_info">Ver informe usuario</button>
</mat-menu> 

<mat-menu #flujo="matMenu">
    <button mat-menu-item routerLink="/create_flujo">Crear flujo</button>
    <button mat-menu-item routerLink="/modify_flujo">Modificar flujo</button>
</mat-menu>  

<router-outlet></router-outlet>