.container {
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 0; 
    background-color: #FFFFFF; 
  }
  
  .item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #AEC6CF; 
    border-bottom: 1px solid #E0E0E0; 
    margin-bottom: 10px; 
    padding: 10px;
    color: black; 
  }
  
  .item-name {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .item-buttons {
    flex-shrink: 0;
  }
  
  .button-new {
    margin-bottom: 15px; 
}
