<div class="container">
    <!-- Botón Nueva al inicio del contenedor -->
    <button mat-button color="primary" routerLink="/create_user">Nueva</button>
    
    <div *ngFor="let item of ususe" class="item-container">
        <div class="item-name">{{ item.nombre }}</div>
        <div class="item-buttons">
            <button mat-button color="primary" routerLink="/caso_usuario" *ngIf="item.rol === 'Paciente'">Estado</button>
            <button mat-button color="primary" routerLink="/asignar_flujo" *ngIf="item.rol === 'Paciente'">Asignar flujo</button>
            <button mat-button color="primary">Modificar</button>
            <button mat-button color="warn">Borrar</button>
        </div>
    </div>
</div>

