.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Centrado vertical */
    padding: 20px;
    background-color: #f4f4f4; /* Fondo más claro para el formulario */
  }
  
  .fields-container {
    width: 90%; /* Uso más eficiente del espacio horizontal */
    max-width: 800px; /* Máximo ancho del contenedor */
    display: flex;
    flex-direction: column; /* Elementos apilados verticalmente */
    gap: 20px; /* Espacio entre campos */
  }
  
  .field {
    width: 100%; /* Los campos ocupan todo el ancho disponible */
  }
  
  .add-input-button {
    align-self: center; /* Centra el botón de agregar dentro del contenedor */
    margin-top: 20px;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centra el botón de crear horizontalmente */
  }
  