<div>
  <form (ngSubmit)="onSubmit()">
    <label for="survey_name">Nombre de la encuesta:</label>
    <input type="text" id="survey_name" [(ngModel)]="data.survey_name" name="survey_name" required>
    
    <label for="survey_languaje">Idioma de la encuesta (para español introducir 'es'):</label>
    <input type="text" id="survey_languaje" [(ngModel)]="data.survey_languaje" name="survey_languaje">
    
    <button type="submit">Crear</button>
  </form>
</div>

<div *ngIf="modifiedData">
  <p><strong>Modified Data:</strong></p>
  <p>Id de la encuesta: {{ modifiedData.survey_id }}</p>
  <p>Nombre de la encuesta: {{ modifiedData.survey_name }}</p>
  <p>Idioma de la encuesta: {{ modifiedData.survey_languaje }}</p>
</div>

